// @import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic);
$ionicons-font-path: "../fonts" !default;
$RobotoDraftFontPath: "../fonts"; // REMINDER: edit as appropriate!
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";

@import "node_modules/robotodraft/sass/robotodraft";
@import "node_modules/ionic/scss/ionic";
// @import "node_modules/ionic-material/src/scss/index";

