<ion-view view-title="Home">
    <ion-content class="padding">
        <ion-slide-box>
            <ion-slide> <img src="../../images/banners/kids.jpg" height="150" width="380" class="img-responsive"></ion-slide>
            <ion-slide> <img src="../../images/banners/men.jpg" height="150" width="380" class="img-responsive"></ion-slide>
            <ion-slide> <img src="../../images/banners/women.jpg" height="150" width="380" class="img-responsive"></ion-slide>
            <ion-slide> <img src="../../images/banners/shoe.jpg" height="150" width="380" class="img-responsive"></ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
