<ion-view view-title="Bags">
<ion-content>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="images/images/fm.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </a>
    </div>
     <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="images/images/wm.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </a>
    </div>
     <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="images/images/3.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </a>
    </div>
     <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="images/images/11.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </a>
    </div>
    </ion-content>
</ion-view>
